.cards__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  .card__wrapper {
    margin: 10px;
    height: 230px;
    width: 140px;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    box-shadow: 1px 6px 14px #888888;

    .card__image {
      img {
        border-radius: 10px 10px 0px 0px;
      }
    }

    .card__title {
      margin: 1px;
      font-size: 12px;
      width: 88px;
      height: 35px;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .movie__rating {
      display: flex;
      float: right;
      font-weight: 900;
      margin: -42px 2px;
      color: #f25c00;
      font-size: 10px;
    }

    .movie__description {
      font-size: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0;
    }
  }
}

.pagination {
  margin-left: 30vw;
  margin-right: 30vw;
  min-width: 40vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: white;
  background-color: black;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: black;
  background: #FBBC34;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}